html { height: 100% }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

#map_canvas { width: 100%; height: 100% }

#cameras {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

#cameras video {
  float: left;
}

#camera {
  width: 17%;
  height: 20%;

  float: right !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  border: solid 1px gray;
}

#camera.big {
  width: 42.5%;
  height: 50%;
}

#statusbar {
  position: fixed;
  top: 0;
  right: 0;
  padding: 7px;
  border-bottom-left-radius: 10px;
  background: rgba(68, 100, 114, 0.8);
  color: white;
  -webkit-user-select: none;
}
